#meesage_main {
    text-align: center;
}

#meesage_main div {
    margin : 5px;
}

#meesage_main #message_window {
    height: 250px;
    border: 1px solid black;   
}

#message_window div{
    margin: 0px;
    margin-left: 2px;
}

#message_window .me{
    margin-right: 100%;
    text-align: left;
    float: left;
}

#message_window .other{
    margin-left: 100%;
    text-align: right;
    float: right;
}

.userName{
    font-size: smaller;
    font-weight: bolder;
}

.userMessage{
    border: 1px solid black;
    padding: 2px;
    font-size: small;
    border-radius: 5px;
}