#meesage_main {
    text-align: center;
}

#meesage_main div {
    margin : 5px;
}

#meesage_main #message_window {
    height: 500px;
    border: 1px solid black;  
    border-radius: 5px; 
    overflow: scroll;
    overflow-x: hidden;
}

#meesage_main #message_window::-webkit-scrollbar {
    width: 8px;
}

#meesage_main #message_window::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}

#meesage_main #message_window::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}


#message_window div{
    margin: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

#message_window .me{
    margin-right: 100%;
    text-align: left;
    float: left;
}

#message_window .other{
    margin-left: 100%;
    text-align: right;
    float: right;
}

.userName{
    font-size: smaller;
    font-weight: bolder;
}

.userMessage{
    border: 1px solid black;
    padding: 2px;
    font-size: small;
    border-radius: 5px;
}